<style>
    .custom-text-justify {
        text-align: justify;
    }
</style>

<div class="card-deck">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 mt-3" *ngFor="let subtema of subtemas; let i = index">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title text-center">{{ subtema.name }}</h5>
                    </div>
                    <div class="card-body p-4">
                        <p class="card-text custom-text-justify">{{ subtema.info }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>