<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner"></div>
        <div *ngFor="let subtema of subtemas; let i = index" [class.carousel-item]="i === 0" [class.active]="i === 0">
            <div>
                <header>
                    {{subtema.Topic}}
                </header>
            </div>
            <img class="d-block w-100" src="..." alt="Slide {{i+1}}">
            <div class="carousel-caption">
            <h3>{{subtema.description}}</h3>
        </div>
    </div>
</div>