<main class="main">
    <header class="header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="our-name text-center">
                        <!-- Added text-center class -->
                        CookAi
                    </h1>
                </div>
                <div class="col-md-6">
                    <form action="" class="d-flex justify-content-end align-items-center">
                        <p class="consult-text p-0 m-0">¿Buscas realizar un nuevo curso?</p>
                        <button class="mx-2 btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Realiza una consulta</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="my-courses-title-group text-center">
            <!-- Added text-center class -->
            <h2 class="my-courses-title">
                Mis cursos
            </h2>
        </div>
        <div class="row justify-content-center">
            <!-- Added justify-content-center class -->
            <div *ngFor="let course of courses" class="col-sm-6 col-md-4 mb-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">{{ course.name }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Progreso: {{ course.progress }} %</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <button [routerLink]="['/topic', course.id]" class="btn btn-secondary w-100 mx-1 mb-2 mb-sm-0">Quiz</button>
                            </div>
                            <div class="col-sm-6">
                                <button [routerLink]="['/study', course.id]" class="btn btn-primary w-100 mx-1">Repaso</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Realizar consulta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Introduce el tema a consultar</p>
                <form (ngSubmit)="realizarConsulta()" [ngClass]="{ 'was-validated': consultaForm.submitted}" id="editarVehiculoForm" #consultaForm="ngForm" autocomplete="off" novalidate>
                    <input ngModel type="text" class="form-control mb-3" maxlength="50" name="topic" id="topicAdd" required [disabled]="loading">
                    <div class="invalid-feedback"> La consulta es requerida. </div>
                    <div class="d-flex justify-content-end">
                        <button #closeQueryModal type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Consultar</button>
                    </div>

                </form>
                <div *ngIf="loading" class="progress mt-3" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>