
.center-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text-center {
    text-align: center;
}

.div-separator {
    margin-top: 20px;
    margin-bottom: 20px;
}

.side-margin {
    margin-left: 20px;
    margin-right: 20px;
}